{% extends 'shared/base.html' %}
{% load widget_tweaks %}

{% block title %}ورود به حساب کاربری{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm rounded-4">
            <div class="card-body p-4">
                <h4 class="mb-4 text-center">Enter to User Account</h4>

                <form method="post" action="{% url 'login-page' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ login_form.email.label_tag }}
                        {{ login_form.email|add_class:"form-control" }}
                        {{ login_form.email.errors }}
                    </div>

                    <div class="mb-3">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password|add_class:"form-control" }}
                        {{ login_form.password.errors }}
                    </div>


                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Enter</button>
                    </div>
                </form>
                <ul>
                    <li>
                        <a href="{% url 'forget-password-page' %}">forget password</a>
                    </li>
                    <li>
                        <a href="{% url 'register-page' %}">don't have a user account?</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
